.inputText{
    width: 550px;
    height: 50px;
    overflow: auto;
    text-align: center;
    display: block;
    word-wrap: break-word;
} 
.formulario{
    display: flex;
    padding: 0;
    width: 700px;
    min-height: 450px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    
}
.titulo{
   
    text-align: center;
    color: #DEEFE7;
    width: 550px;
    font-size: 60px;
    
}
.submit,
.button{
    height: 60px;
    border-radius: 10px;
    background-color: #009688;
    color: rgb(250, 252, 253);
    font-size: 20px ;
    cursor: pointer;
    width: 550px;
}
.submit:hover,
.button:hover{
 
    background-color: #00E3CC;
    color: rgb(255, 255, 255);
   
}
.welcomeMsg,
.tituloImc{
    text-align: center;
    font-size: 20px ;
    color: aliceblue;
    width: 550px;
    }

.select{
    color: black;
    height: 20px;
    width: 400px;
}
.imcContainer{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.select{
    width: 280px;
    font-size: 20px;
    height: 30px;
   border: none;
    appearance: none;
     background-color: #009688;
     background-image: url('../assets/img/list-icon.png');
     background-size: 28px 28px;
    background-position: right 10px top 50%;
     background-repeat: no-repeat;
}
.warning{
    border: inset red 2px;
}
.warning::placeholder{
    color: red;
    
    font-size: 1.2rem;
}
.resultadoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
@media only screen and (max-width: 450px){
    .inputText{
    
    height: 50px;
    width: 300px;
    
} 
.formulario{
    width: 350px;
    max-width: 400px;
    height: 450px;
 
}
.submit,
.button{
    height: 60px;
    width: 300px;

}
.titulo{
       font-size: 50px;
       width: 300px;
      
}

.welcomeMsg,
.tituloImc{
    font-size: 20px ;
   width: 300px;
}


.select{
    width: 120px;
    
}

}
@media only screen and (min-width: 451px) and (max-width: 650px) {
    .inputText{
    height: 50px;
    width: 350px;
    
} 
.formulario{
    width: 400px;
    max-width: 400px;
    height: 450px;
 
}
.submit,
.button{
    height: 60px;
    width: 350px;
   }
.titulo{
       font-size: 50px;
     width: 350px;
}

.welcomeMsg,
.tituloImc{
    font-size: 20px ;
  width: 350px;
}


.select{
    width: 125px;
    margin: auto;
    
}

}
@media only screen and (min-width: 651px) and (max-width: 750px) {
    .inputText{
    height: 50px;
    width: 500px;
    
} 
.formulario{
    width: 550px;
    max-width: 550px;
    height: 450px;
    padding: 5%;
 
}
.submit,
.button{
    height: 60px;
    width: 500px;
   }
.titulo{
       font-size: 50px;
       width: 500px;
     
}

.welcomeMsg,
.tituloImc{
    font-size: 20px ;
    width: 500px;
  
}


.select{
    width: 250px;
    
}

}